<!DOCTYPE html>
<html lang="ru">
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-bg">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="footer-menu">
                                <ul>
                                    <li class="active"><a href="http://127.0.0.1:8000/?page=3#">Home</a></li>
                                    <li><a href="https://www.reebok.ru/">Reebok</a></li>
                                    <li><a href="https://lining.kg/">Li-Ning</a></li>
                                    <li><a href="https://www.adidas.ru/">Adidas</a></li>
                                    <li><a href="https://www.converse.com/country-language-selector">Converse</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-icon">
                                  <p><a href="https://www.facebook.com/groups/160469837991811"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                      <a href="https://instagram.com/krossbishkek?utm_medium=copy_link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                      <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="https://www.facebook.com/"><i
                                  </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</html>